// Navigation
if title.indexOf("Manage") == -1
  nav.navbar.navbar-expand-lg(id=(title == 'Home') ? 'mainNav' : 'secondNav' class=(title == 'Home') ? 'navbar-dark fixed-top' : 'navbar-light navbar-shrink') 
    .container
      a.navbar-brand(href=(title == 'Home') ? '#page-top' : '/' class=(title == 'Home' ? 'js-scroll-trigger' : '') style='display: flex;align-items: center;')
        img(src='/img/logo.png' alt='VMO EZ Loan' style='height: 40px; width: 40px;')
        span  VMO EZ Loan
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars.ml-1
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.text-uppercase.ml-auto
          if title === 'Home'
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#products') Products
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#qualifications') Qualifications
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#requirements') Requirements
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#about') About
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#faqs') FAQs
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#contact') Contact
          else
            li.nav-item(class=(title === 'Login') ? 'active' : undefined)
              a.nav-link(href='/login') Login
            li.nav-item(class=(title === 'Signup') ? 'active' : undefined)
              a.nav-link(href='/signup') Create Account
else
  ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
    a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/account')
      .sidebar-brand-icon
        img(src='/img/logo.png' style='height: 40px; width: 40px;')
      .sidebar-brand-text VMO EZ Loan
    hr.sidebar-divider.my-0
    li.nav-item(class=(title.indexOf("Profile") != -1) ? 'active' : undefined)
      a.nav-link(href='/profile')
        i.fas.fa-user-circle
        span Profile
    li.nav-item(class=(title.indexOf("Security") != -1) ? 'active' : undefined)
      a.nav-link(href='/security')
        i.fas.fa-cogs
        span Security
    if user.userId.type == "Borrower"
      li.nav-item(class=(title.indexOf("Verifications") != -1) ? 'active' : undefined)
        a.nav-link(href='/verifications')
          i.fas.fa-check-circle
          span Verifications
      li.nav-item(class=(title.indexOf("Loans") != -1) ? 'active' : undefined)
        a.nav-link(href='/credits')
          i.fas.fa-balance-scale
          span Loans
    if user.userId.type == "Borrower" && user.type == "Member"
      li.nav-item(class=(title.indexOf("Contributions") != -1) ? 'active' : undefined)
        a.nav-link(href='/contributions')
          i.fas.fa-wallet
          span Contributions
    if user.userId.type == "Admin" || (user.userId.type == "Employee" && user.type != "Loan Processor")
      li.nav-item(class=(title.indexOf("Manage Borrowers") != -1) ? 'active' : undefined)
        a.nav-link(href='/borrowers')
          i.fas.fa-user-friends
          span Borrowers
    if user.userId.type == "Admin" || (user.userId.type == "Employee" && user.type != "HRD Authorized Officer")
      li.nav-item(class=(title.indexOf("Manage Loans") != -1) ? 'active' : undefined)
        a.nav-link(href='/loans')
          i.fas.fa-balance-scale
          span Loans
    if user.userId.type == "Admin" || (user.userId.type == "Employee" && user.type == "Loan Processor")
      li.nav-item(class=(title.indexOf("Manage Transactions") != -1) ? 'active' : undefined)
        a.nav-link(href='/transactions')
          i.fas.fa-wallet
          span Transactions
    if user.userId.type == "Admin" || (user.userId.type == "Employee" && user.type != "HRD Authorized Officer")
      li.nav-item(class=(title.indexOf("Manage Withdrawal Requests") != -1) ? 'active' : undefined)
        a.nav-link(href='/withdrawals')
          i.fas.fa-cash-register
          span Withdrawals
    if user.userId.type == "Admin"
      li.nav-item(class=(title.indexOf("Manage Employees") != -1) ? 'active' : undefined)
        a.nav-link(href='/employees')
          i.fas.fa-user-friends
          span Employees
      li.nav-item(class=(title.indexOf("Manage Inquiries") != -1) ? 'active' : undefined)
        a.nav-link(href='/inquiries')
          i.fas.fa-comments
          span Inquiries
    if user.userId.type == "Admin" || user.userId.type == "Employee" || user.userId.type == "Borrower"
      li.nav-item(class=(title.indexOf("Activity Logs") != -1) ? 'active' : undefined)
        a.nav-link(href='/activities')
          i.fas.fa-history
          span Activity Logs
    if user.userId.type == "Admin"
      li.nav-item(class=(title.indexOf("Manage Deleted") != -1) ? 'active' : undefined)
        a.nav-link(href='#' data-toggle='collapse' data-target='#collapsePages' aria-expanded='true' aria-controls='collapsePages' class=(title.indexOf("Manage Deleted") != -1) ? undefined : 'collapsed')
          i.fas.fa-fw.fa-folder
          span Recycle Bin
        #collapsePages.collapse(aria-labelledby='headingPages' data-parent='#accordionSidebar' class=(title.indexOf("Manage Deleted") != -1) ? 'show' : undefined)
          .bg-white.py-2.collapse-inner.rounded
            h6.collapse-header Deleted:
            a.collapse-item(href='/deleted/borrowers' class=(title.indexOf("Deleted Borrowers") != -1) ? 'active' : undefined) Borrowers
            a.collapse-item(href='/deleted/loans' class=(title.indexOf("Deleted Loans") != -1) ? 'active' : undefined) Loans
            a.collapse-item(href='/deleted/transactions' class=(title.indexOf("Deleted Transactions") != -1) ? 'active' : undefined) Transactions
            a.collapse-item(href='/deleted/withdrawals' class=(title.indexOf("Deleted Withdrawal Requests") != -1) ? 'active' : undefined) Withdrawals
            a.collapse-item(href='/deleted/employees' class=(title.indexOf("Deleted Employees") != -1) ? 'active' : undefined) Employees
            a.collapse-item(href='/deleted/inquiries' class=(title.indexOf("Deleted Inquiries") != -1) ? 'active' : undefined) Inquiries
    hr.sidebar-divider.d-none.d-md-block
    .text-center.d-none.d-md-inline
      button#sidebarToggle.rounded-circle.border-0