// Navigation
if title.indexOf("Account Management") == -1
  nav.navbar.navbar-expand-lg(id=(title == 'Home') ? 'mainNav' : 'secondNav' class=(title == 'Home') ? 'navbar-dark fixed-top' : 'navbar-light navbar-shrink') 
    .container
      a.navbar-brand(href=(title == 'Home') ? '#page-top' : '/' class=(title == 'Home' ? 'js-scroll-trigger' : '') style='display: flex;align-items: center;')
        img(src='/img/logo.png' alt='VMO EZ Loan' style='height: 40px; width: 40px;')
        span  VMO EZ Loan
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars.ml-1
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.text-uppercase.ml-auto
          if title === 'Home'
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#products') Products
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#qualifications') Qualifications
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#requirements') Requirements
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#about') About
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#faqs') FAQs
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#contact') Contact
          else
              li.nav-item(class=(title === 'Login') ? 'active' : undefined)
                a.nav-link(href='/login') Login
              li.nav-item(class=(title === 'Signup') ? 'active' : undefined)
                a.nav-link(href='/signup') Create Account
else
  ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
    a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/account')
      .sidebar-brand-icon
        img(src='/img/logo.png' style='height: 40px; width: 40px;')
      .sidebar-brand-text VMO EZ Loan
    hr.sidebar-divider.my-0
    li.nav-item
      a.nav-link(href='/profile')
        i.fas.fa-user-circle
        span Profile
    li.nav-item
      a.nav-link(href='/security')
        i.fas.fa-cogs
        span Security
    li.nav-item
      a.nav-link(href='/verifications')
        i.fas.fa-check-circle
        span Verifications
    li.nav-item
      a.nav-link(href='/loans')
        i.fas.fa-balance-scale
        span Loans
    hr.sidebar-divider.d-none.d-md-block
    .text-center.d-none.d-md-inline
      button#sidebarToggle.rounded-circle.border-0