// Navigation
nav.navbar.navbar-expand-lg(id=(title == 'Home') ? 'mainNav' : 'secondNav' class=(title == 'Home') ? 'navbar-dark fixed-top' : 'navbar-light navbar-shrink') 
  .container
    a.navbar-brand(href=(title == 'Home') ? '#page-top' : '/' class=(title == 'Home' ? 'js-scroll-trigger' : '') style='display: flex;align-items: center;')
      img(src='/images/logo.png' alt='VMO Coop' style='height: 40px; width: 40px;')
      span  VMO Coop
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      | Menu
      i.fas.fa-bars.ml-1
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.text-uppercase.ml-auto
        if title === 'Home'
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#products') Products
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#qualifications') Qualifications
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#requirements') Requirements
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') About
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#faqs') FAQs
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#contact') Contact
        else
          if !user
            li.nav-item(class=(title === 'Login') ? 'active' : undefined)
              a.nav-link(href='/login') Login
            li.nav-item(class=(title === 'Signup') ? 'active' : undefined)
              a.nav-link(href='/signup') Create Account
          else
            li.nav-item
              a.nav-link(href='#') Signed In As #{user.username}
            li.nav-item
              a.nav-link(href='/logout') Logout