header.page-header.page-header-compact.page-header-light.border-bottom.bg-white.mb-4
  .container-fluid
    .page-header-content
      .row.align-items-center.justify-content-between.pt-3
        .col-auto.mb-3
          h1.page-header-title
            .page-header-icon
              i.fas.fa-user-circle
            |  #{title}