nav.navbar.navbar-expand.bg-gradient-primary.topbar.navbar-dark.static-top.shadow
  button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
    i.fa.fa-bars
  ul.navbar-nav.ml-auto
    li.nav-item.dropdown.no-arrow
      a.nav-link.dropdown-toggle(href='/profile')
        span.mr-2.small #{user.userId.username}
        img.img-profile.rounded-circle(src=(user.userId.picture.filename) ? '/uploads/' + user.userId.picture.filename  : (user.profile.gender == "Female") ? '/uploads/profile-1.png' : '/uploads/profile-2.png')
    .topbar-divider.d-none.d-sm-block
    li.nav-item.dropdown.no-arrow
      a.nav-link.dropdown-toggle(href='#' data-toggle='modal' data-target='#logoutModal')
        i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
        | Logout