header.page-header.page-header-compact.page-header-light.border-bottom.bg-white.mb-4
  .container-fluid
    .page-header-content
      .row.align-items-center.justify-content-between.pt-3
        .col-auto.mb-3
          h1.page-header-title
            .page-header-icon
              if title.indexOf("Profile") != -1
                i.fas.fa-user-circle
              if title.indexOf("Security") != -1
                i.fas.fa-cogs
              if title.indexOf("Verifications") != -1
                i.fas.fa-check-circle
              if title.indexOf("Loans") != -1
                i.fas.fa-balance-scale
              if title.indexOf("Borrowers") != -1 || title.indexOf("Employees") != -1
                i.fas.fa-user-friends
              if title.indexOf("Transactions") != -1
                i.fas.fa-wallet
              if title.indexOf("Withdrawals") != -1
                i.fas.fa-cash-register
              if title.indexOf("Inquiries") != -1
                i.fas.fa-comments
            |  #{title}