header.page-header.page-header-compact.page-header-light.border-bottom.bg-white.mb-4
  .container-fluid
    .page-header-content
      .row.align-items-center.justify-content-between.pt-3
        .col-auto.mb-3
          h1.page-header-title
            .page-header-icon
              if title.indexOf("Profile") != -1
                i.fas.fa-user-circle
              if title.indexOf("Security") != -1
                i.fas.fa-cogs
              if title.indexOf("Verifications") != -1
                i.fas.fa-check-circle
              if title.indexOf("Loans") != -1
                i.fas.fa-balance-scale
              if title.indexOf("Borrowers") != -1 || title.indexOf("Employees") != -1
                i.fas.fa-user-friends
              if title.indexOf("Transactions") != -1 || title.indexOf("Contributions") != -1
                i.fas.fa-wallet
              if title.indexOf("Withdrawal") != -1
                i.fas.fa-cash-register
              if title.indexOf("Inquiries") != -1
                i.fas.fa-comments
              if title.indexOf("Dashboard") != -1
                i.fas.fa-home
              if title.indexOf("Activity Logs") != -1
                i.fas.fa-history
            |  #{title}
        if title.indexOf("Dashboard") != -1 && user.userId.type == "Admin"
          form(method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-row
              .form-group.col-md-6
                - let year = (new Date()).getFullYear();
                - let backdatedYear = "2020";
                - let count = parseInt(year) - parseInt(backdatedYear);
                - let n = 0;
                select#year.mr-2.form-control(type='text' name='year')
                  while (n <= count)
                    option(value=(parseInt(year) - n)) Year #{parseInt(year) - n++}
              .form-group.col-md-6
                - let yearNow = (new Date()).getFullYear();
                //- a#distribute.btn.btn-md.btn-success.mr-2(href='/download/report/distribution/' + yearNow) 
                //-   i.fas.fa-share-alt.fa-sm.text-white
                //-     |  Distribution
                a#generate.btn.btn-md.btn-primary.mr-2(href='/download/report/financial/' + yearNow) 
                  i.fas.fa-download.fa-sm.text-white
                    |  Financial