extends ../layout

block content
  include ../partials/flash
  .container
    .form-clean.login-form
      form#loginForm(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .row.text-center
          span.fa-stack.fa-4x(style='margin: 0 auto 30px;')
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-user.fa-stack-1x.fa-inverse
        .row
          .col-sm-12
            h2.section-heading.text-uppercase Member Login
        .row
          .col-sm-12
            .form-group
              input#username.form-control(type='text' name='username' placeholder='Username')
        .row
          .col-sm-12
            .form-group
              input#password.form-control(type='password' name='password' placeholder='Password')
        .row
          .col-sm-12
            .form-group
              input(type='checkbox' onclick='showPassword()')
              |  Show Password
              a.forgot-link(href='/forgot') Forgot Password?
        .row
          .col-sm-12
            .form-group
              button.btn.btn-primary.btn-block(type='submit') Submit
      .text-center
        | Don&apos;t have an account? 
        a(href='/signup') Sign up here!