extends ../layout

block content
  include ../partials/flash
  section.page-section
    .container
      .text-center
        h2.section-heading.text-uppercase #{title}
        h3.section-subheading.text-muted Privacy Policy of Calamba VMO Multi-Purpose
      .row.text-justify
        .col-md-12
          p We maintain, respect, and value your privacy. This Privacy Policy provides you with information on what we collect and how we use and share your information as well as your rights under the applicable law and rules on privacy in the Philippines. Before continuing, please carefully read the points below.
          p The provisions of this Policy notwithstanding, Calamba VMO Multi-Purpose (the “Company”), in some cases, may rely on certain exemptions applicable under relevant local privacy laws including, but not limited to, Republic Act No. 10173, otherwise known as the Data Privacy Act of 2012 (the “Data Privacy Act”) and its implementing rules and regulations.
          h3 Who we are
          p Our website address is: 
            a(href="https://vmo-ezloan.herokuapp.com")
              span https://vmo-ezloan.herokuapp.com.
          h3 What personal data we collect and why we collect it
          p The Company may collect and hold a range of information about you including Personal Information and Sensitive Personal Information (collectively referred to as “Information”), defined under the Data Privacy Act as follows:
          p “Personal Information” refers to any information whether recorded in a material form or not, from which the identity of an individual is apparent or can be reasonably and directly ascertained by the entity holding the information, or when put together with other information would directly and certainly identify an individual.
          h5 “Sensitive Personal Information” refers to personal information:
          p &gt; About an individual&rsquo;s race, ethnic origin, marital status, age, color, and religious, philosophical or political affiliations;
          p &gt; About an individual&rsquo;s health, education, genetic or sexual life of a person, or to any proceeding for any offense committed or alleged to have been committed by such person, the disposal of such proceedings, or the sentence of any court in such proceedings;
          p &gt; Issued by government agencies peculiar to an individual which includes, but not limited to, social security numbers, previous or current health records, licenses or its denials, suspension or revocation, and tax returns; and
          p &gt; Specifically established by an executive order or an act of Congress to be kept classified.
          h5 In particular, the Company may collect and process Information such as:
          p
            strong Personal information
          p We may collect information such as your name, gender, date/place of birth, age, marital status, contact details, education, nationality, address, etc.), work/business information, bank/financial information, spouse/reference information, co-maker information (if needed), and other information classified as “personal data,” “personal information,” or “sensitive personal information” under the Data Privacy Act, and other relevant laws, rules, and regulations, and those of your authorized representatives, as well as accounts, transactions, and communications.
          p
            strong Voice and Video Recordings
          p Voice recordings, with your consent, and video recordings captured by our CCTV camera and other similar recording devices and processes, which may be also observed when visiting our offices and/or using our facilities
          p
            strong Media
          p If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.
          p 
            strong Application and Contact forms
          p If you apply and use the contact forms on our website, we collect the data provided in the application and contact forms, to verify your information, perform credit checks and other relevant actions related to your application.
          p
            strong Cookies
          p If you have an account and you log in to this site, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.
          p When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you log out of your account, the login cookies will be removed.
          p
            strong Analytics
          h3 How we collect your data
          h5 The Company may collect Information about you in a number of ways, including but not limited to the following:
          p &gt; Directly from you (such as from your application forms, contracts, agreements, interviews over the phone, written correspondences, and through webforms and IT systems);
          p &gt; From the identity confirmation documents presented (limited to the information required for identity verification based on laws and the intended purpose of use);
          p &gt; From the company’s verification process of the details and information provided;
          p &gt; From publicly available sources (such as Facebook, LinkedIn, and other social media accounts, and public records from government agencies);
          p &gt; From credit bureaus and the Credit Information Corporation Information (pursuant to Republic Act No. 9510 and its implementing rules and regulations;
          p &gt; From company records of your previous transactions; and
          p &gt; From third parties, including the parties listed under ‘Disclosure of Information’ (as set out below).
          h3 How we use your Information
          h5 The Company may use your Information for a range of different purposes, including but not limited to:
          p &gt; For compliance with legal and regulatory requirements including, but not limited to, submission of data to credit bureaus and the Credit Information Corporation and compliance with orders, instructions, and requests from the courts and other local or foreign regulatory, governmental, tax, and law enforcement authorities or other similar authorities
          p &gt; For verification of your identity
          p &gt; For credit examination necessary to reserve, manage, change, and exercise our rights as creditor, including, but not limited to, verification of collaterals, credit standing, capacity to pay, and receivables
          p &gt; For prompt and proper response to your inquiries
          p &gt; For the preservation of records of negotiations and transactions between you and the Company
          p &gt; For the purpose of selling, solicitation, mediation, brokerage, agent, sending advertisement and advertisement, sending (including e-mail) financial products and services relating to our business, with your prior consent
          p &gt; For conduct of market research and analysis inside our company
          p &gt; For research and development of financial products and services
          p &gt; For execution of insurance contracts, as applicable
          p &gt; For administrative procedures and examination of payment of claims
          h3 Who we share your data with
          p The Company may need to disclose your Information to related entities, contracting parties, partners and other organizations, both within and outside your local country, for purposes related to your transactions with the Company.&nbsp; You agree and acknowledge that your Information may be shared in this way without the need for any further consent from or notification to you.
          p
            strong The circumstances in which the Company may disclose your information include, but are not limited to:
          p &gt; Compliance with legal requirements and orders, instructions, and requests from the courts and other local or foreign regulatory, governmental, tax, and law enforcement authorities or other similar authorities;
          p &gt; Enforcement our terms of service, including other applicable policies, in addition to the creditors&rsquo; rights to customers using our loan products with respect to the services we provide
          p &gt; Dealing with fraud, security or technical problems, to respond to emergencies, or to protect customers or third parties&rsquo; rights, property or security.
          p In particular, we submit and disclose your basic credit data (as defined under Republic Act No. 9510 and its Implementing Rules and Regulations to the Credit Information Corporation (&ldquo;CIC&rdquo;) as well as any updates. We share your basic credit data with other lenders authorized by the CIC and credit reporting agencies duly accredited by the CIC.
          h3 How we store and how long we retain your data
          p The Company may store your Information in hard copy or electronic format, in locations both inside and outside of the Philippines, in storage facilities that the Company owns and operates, or that are owned and operated by our service providers or other third parties with whom the Company contracted.&nbsp; The Company will ensure that any restrictions imposed by local privacy laws in relation to the transfer of Information by the Company to overseas recipients are observed.
          p The Information shall be retained for as long as the purpose for which it was collected, and such other purposes that you may have consented to from time to time, remains in effect and until such time as it is no longer required nor necessary to keep your information for any other legal, regulatory or business purposes.
          p For users that register on our website, we store the Information they provide in user profile. All users can see, edit, or delete their Information at any time (except for the username). Website administrators can also see and edit that information.
          h3 How we protect your data
          p The Company will take reasonable steps to maintain the security of your personal information and to protect it from unauthorized disclosure. The Company also ensures that our service providers provide proper safeguards to ensure the confidentiality of the Information, prevent the use of Information for unauthorized purposes, and to comply with the requirements of the current data protection legislation. Security measures will be implemented and personal information will be processed in accordance with current data protection legislation and this Policy.
          p In particular, we protect your data by availing of SSL Certificate on our website and together with our hosting provider, we work together to prevent data breach from happening.
          h3 How to Access and Correct your Information and make a Privacy Complaint
          p You are entitled to access and request a copy of your Personal Information unless there is a practical, contractual or legal reason we are not able to process your request. Where applicable, we may apply a reasonable administrative charge for providing access to or copies of your Personal Information in response to a request.
          h5 You may also update or correct the Personal Information previously provided. To do so, please write our Data Protection Officer at:
          div(style='text-align: left; padding-left: 90px;') DATA PROTECTION OFFICER
          div(style='text-align: left; padding-left: 90px;') CALAMBA VMO MULTI-PURPOSE COOPERATIVE
          div(style='text-align: left; padding-left: 90px;') 3F New city hall, Bacnotan rd. Brgy Real,
          div(style='text-align: left; padding-left: 90px;') Calamba City Laguna 4027
          div &nbsp;
          p Please note though that there may be some circumstances where exemptions under privacy laws mean that the Company does not always grant you access to your Information, or limits the processing of your Information.&nbsp; Where applicable, the Company may apply a reasonable administrative charge for providing access to your Information in response to a request.
          p You may also use these contact details to notify the Company of any privacy complaint you may have against the Company, including if you think that the Company have failed to comply with applicable privacy laws.
          p The Company commits to acknowledge your complaint in a prompt manner and will give you an estimated timeframe for when the Company will respond to your complaint. While the Company hopes that it will be able to resolve any complaints you may have without needing to involve third parties, you may also be able to lodge a complaint with the National Privacy Commission.
          h3
            strong Future Policy Revisions
          p
            | From time to time, the Company may need to revise this Data Privacy Policy. If the Company will do so, the updated version will apply to all of your Information held by the Company at that time. You can obtain an up-to-date version of this Policy in the Company&rsquo;s website at 
            a(href='https://vmo-ezloan.herokuapp.com/privacy-policy') https://vmo-ezloan.herokuapp.com/privacy-policy
            | . When required by the data privacy legislation, you will be notified of the changes in this Policy.