extends ../layout

block content
  include ../partials/flash
  .container
    #loader
    .form-clean.signup-form
      form#regForm(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        h2 Register
        hr
        .tab
          p.header-text Create your account. It&apos;s free and only takes a minute.
          .row
            .col-sm-6
              .form-group
                input#firstName.form-control(type='text' name='firstName' placeholder='First Name')
                em.invalid-feedback 
            .col-sm-6
              .form-group
                input#lastName.form-control(type='text' name='lastName' placeholder='Last Name')
                em.invalid-feedback 
          .row
            .col-sm-12
              .form-group
                input#username.form-control(type='text' name='username' placeholder='Username' minlength='8')
                em.invalid-feedback 
          .row
            .col-sm-12
              .form-group
                input#password.form-control(type='password' name='password' placeholder='Password' minlength='8')
                em.invalid-feedback 
          .row
            .col-sm-12
              .form-group
                input#confirmPassword.form-control(type='password' name='confirmPassword' placeholder='Confirm Password')
                em.invalid-feedback 
        .tab.d-none
          p.hint-text
            | For your security, VMO EZ Loan wants to make sure it&rsquo;s really you. VMO EZ Loan will send a text message with a 6-digit verification code. 
            em Standard rates apply
          .row
            .col-sm-12
              .form-group.mb-md-0
                .input-group.mb-3
                  .input-group-prepend
                    span#basic-addon1.input-group-text +63
                  input#mobileNum.form-control(type='text' name='mobileNum' placeholder='Mobile Number' minlength='10' maxlength='10')
                  em.invalid-feedback 
                  em#errorSendOtp.error-text
        .tab.d-none
          p#sendOTP.hint-text
          .row
            .col-sm-12
              .form-group
                input#code.form-control(type='text' name='code' placeholder='Enter verification code' minlength='6' maxlength='6')
                em.invalid-feedback 
        .tab.d-none
          p.hint-text
            span#user Username
            | , welcome to VMO EZ Loan
          .row
            .col-sm-12
              .form-group
                input#email.form-control(type='email' name='email' placeholder='Email')
                em.invalid-feedback 
          .row
            .col-sm-12
              .form-group
                input#dateOfBirth.form-control(type='date' name='dateOfBirth' placeholder='Birthday')
                em.invalid-feedback 
                p.label-text Your birthday
          .row
            .col-sm-12
              .form-group
                select#gender.form-control.selectpicker(type='text' name='gender')
                  option(value='' selected='' disabled='') Gender
                  option(value='Female') Female
                  option(value='Male') Male
                em.invalid-feedback
          if type == "admin" || type == "employee" || type == "member"
            .row
              .col-sm-6
                .form-group
                  input#userCode.form-control(type='text' name='userCode' placeholder='User Code')
                  em.invalid-feedback
              .col-sm-6
                .form-group
                  input#employeeID.form-control(type='text' name='employeeID' placeholder='Employee ID')
                  em.invalid-feedback 
          if type == "employee"
            .row
              .col-sm-12
                .form-group
                  select#employeeType.form-control.selectpicker(type='text' name='employeeType')
                    option(value='' selected='' disabled='') Employee Type
                    option(value='Loan Officer') Loan Officer
                    option(value='Loan Processor') Loan Processor
                    option(value='HRD Authorized Officer') HRD Authorized Officer
                  em.invalid-feedback
          if type == "member"
            .row
              .col-sm-12
                .form-group
                  input#sharesPerPayDay.form-control(type="number" step="300" min="300" name='sharesPerPayDay')
                  em.invalid-feedback 
                  p.label-text Shares/Payday (Php)
        div(style='overflow:auto;')
          div(style='float:right;')
            button#prevBtn.btn.btn-danger.d-none(type='button') Previous
            |  
            button#nextBtn.btn.btn-primary(type='button' onclick='nextPrev(1,0)') Next
        // Circles which indicates the steps of the form:
        div(style='text-align:center;margin-top:30px;')
          span.step
          span.step
          span.step
          span.step
      .text-center
        | Already have an account? 
        a(href='/login') Login here!