extends ../layout

block content
  include ../partials/flash
  section.page-section
    .container
      .text-center
        h2.section-heading.text-uppercase #{title}
        h3.section-subheading.text-muted Terms and Conditions (&ldquo;Terms&rdquo;) of VMO EZ Loan
      .row.text-justify
        .col-md-12
          p Last updated: November 6, 2021
          p
            | Please read these Terms and Conditions (&ldquo;Terms&rdquo;, &ldquo;Terms and Conditions&rdquo;) carefully before using the 
            a(href="https://vmo-ezloan.herokuapp.com") https://vmo-ezloan.herokuapp.com 
            |  website (the &ldquo;Service&rdquo;) operated by Calamba VMO Multi-Purpose Cooperative (&ldquo;VMO EZ Loan&rdquo;, &ldquo;us&rdquo;, &ldquo;we&rdquo;, or &ldquo;our&rdquo;).
          p
            | Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
          p
          p
            strong
              | By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms, then we respectfully request that you leave the website immediately.
          p
          p
            strong Loans
          p
          p
            | If you wish to avail of our loan products made available through the Service (&ldquo;Loans&rdquo;), you may be asked to supply certain information relevant to your loan application including, without limitation, your name, address, contact number and other relevant information about you.
          p
          p
            strong Application
          p
          p
            | You confirm that all information you have provided to VMO EZ Loan are true, accurate and up-to-date and is not, in any respect, misleading, deceptive or inaccurate or likely to be misleading or deceptive.
          p
            | You agree that VMO EZ Loan will send SMS and email for reminder. VMO EZ Loan is not responsible for the security administration on the phone and email account. It is the borrower&rsquo;s responsibility.
          p
            | VMO EZ Loan may deny the application as a result of credit check, but VMO EZ Loan will not have the obligation to disclose the reason of denial or to return my application and other submitted documents.
          p
            | You agree that VMO EZ Loan may obtain the Borrower&rsquo;s personal information from credit information center, third parties or any other relevant source of information for purposes of the credit check, confirmation of employment or other risk management and disclose the personal information pursuant to applicable laws and regulations. You also agree to waive your rights under R.A. 1405.
          p
            | You hereby acknowledge and authorize: (1) the regular submission and disclosure of your basic credit data (as defined under Republic Act No. 9510 and its Implementing Rules and Regulations to the Credit Information Corporation (&ldquo;CIC&rdquo;) as well as any updates; and (2) the sharing of your basic credit data with other lenders authorized by the CIC and credit reporting agencies duly accredited by the CIC.
          p
            | You declare that you and your family are not a person in a foreign country, who is an important position in heads of state, government, central bank or similar institution (including cases where applicable in the past).
          p
            | If you apply for our loan or use our mobile application, you expressly allow VMO EZ Loan app to take your mobile handset information such as but not limited to mobile number, and ask you to fill in forms for your personal information such as name, address etc.
          p
            b Verification
          p
          p
            | You agree that by giving the information details of your reference person you are confirming that VMO EZ Loan can contact them for screening, investigation and verification purposes.
          p
            strong Privacy
          p
            | You agree to provide your information and have read, understood, and agreed to be bound by VMO EZ Loan&rsquo;s 
            a(href='https://www.acom.com.ph/privacy-policy/') Privacy Policy
            | .
          p
            | You consent to the processing of your personal information and sensitive personal information contained in the application in accordance with Republic Act No. 10173 or the Data Privacy Act, for the purpose of processing your loan application and implementation of the Loan Agreement.
          p
            | You expressly allow VMO EZ Loan and its Affiliates (collectively, the &ldquo;Companies&rdquo;)&nbsp; to collect, record, organize, store, update or modify, retrieve, consult, use, consolidate, block, erase or destroy your Information, as part of your loan application requirements, processing, approval, and implementation.
          p
            | You expressly allow the Companies&nbsp;to collect, record, organize, store, update or modify, retrieve, consult, use, consolidate, block, erase or destroy your Information, as part of your loan application requirements, processing
          p
          p
            strong Content
          p
          p
            | Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material (&ldquo;Content&rdquo;). You are responsible for the use of the same.
          p
          p
            strong Links to Other Web Sites
          p
          p
            | Our Service may contain links to third-party web sites or services that are not owned or controlled by Calamba VMO Multi-Purpose Cooperative.
          p
            | Calamba VMO Multi-Purpose Cooperative has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party web sites or services. You further acknowledge and agree that Calamba VMO Multi-Purpose Cooperative shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
          p
          p
            strong Changes
          p
          p
            | We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will try to provide at least 30 days&rsquo; notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
          p
          p
            strong Contact Us
          p
          p If you have any questions about these Terms, please contact us.