doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(name='description' content='Loan System')
    meta(name='author' content='Ma. Camille G. Maulion')
    meta(name='csrf-token', content=_csrf)
    title #{title} - VMO EZ Loan
    link(rel='shortcut icon', href='/favicon.ico')
    link(href='/css/all.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet' type='text/css')
    link(href='/css/dataTables.bootstrap4.min.css' rel='stylesheet')
    link(href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css' rel='stylesheet' type='text/css')
    link(href='/css/sb-admin-2.css' rel='stylesheet')
    block head

  body#page-top
    
    #wrapper
      include partials/header
      block content
      include partials/footer

    script(src='/js/jquery.min.js')
    script(src='/js/jquery.validate.min.js')
    script(src='/js/bootstrap.bundle.min.js')
    script(src='/js/jquery.easing.min.js')
    script(src='/js/methods.js')
    script(src='/js/sb-admin-2.js')
    script(src='/js/validations.js')
    script(src='/js/chart.min.js')
    script(src='/js/jquery.dataTables.min.js')
    script(src='/js/dataTables.bootstrap4.min.js')
    script(src='/js/datatables.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='/js/jquery.signature.js')

    if title.indexOf("Profile") != -1
      script.
          $(function () {
              $('input[name="profilePic"]').change(function () {
                  $("form#profilePicForm").submit();
              });
              $('a#verifyMobileNum').click(function () {
                let path = ($('a#verifyMobileNum').prop('href')).split('/');
                let mobileNum = path[path.length-1];
                let firstName = path[path.length-2];
                let token = $('input[name="_csrf"]').attr('value');
                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', token);
                    }
                });
                $.ajax({
                    url: "/api/sendOTP",
                    type: "POST",
                    data: {
                        mobileNum: mobileNum,
                        name: firstName
                    },
                    cache: false,
                    success: function (data) {
                        $('#codeModal').modal('show'); 
                    },
                    error: function (xhr, status, error) {
                       console.log(xhr.responseJSON.message);
                    }
                });
              });
          });

    if title.indexOf("Borrowers") != -1
      script.
          $(function () {
              $('a.deleteBorrower').click(function () {
                let path = ($(this).prop('href')).split('/');
                let lastName = (path[path.length-1]).replace(/%20/g," ");
                let firstName = (path[path.length-2]).replace(/%20/g," ");
                let borrowerid = path[path.length-3];
                let userid = path[path.length-4];
                $('a#deleteBorrower').attr('href', '/borrowers/' + borrowerid + '/' + userid + '/delete'); 
                $('span#deleteBorrowerName').text(firstName + ' ' + lastName);
                $('#deleteBorrowerModal').modal('show'); 
              });
              $('a.updateBorrower').click(function () {
                let path = ($(this).prop('href')).split('/');
                let employmentType = (path[path.length-1] != 'undefined') ? (path[path.length-1]).replace(/%20/g," ") : '';
                let hrCertifiedBy = (path[path.length-2] != 'undefined') ? path[path.length-2] : '';
                let sharesPerPayDay = (path[path.length-3] != 'undefined') ? parseFloat(path[path.length-3]) : '';
                let employeeID = (path[path.length-4] != 'undefined') ? path[path.length-4] : '';
                let reviewedBy = (path[path.length-5] != 'undefined') ? path[path.length-5] : '';
                let totalCreditLimit = parseFloat(path[path.length-6]);
                let status = (path[path.length-7]).replace(/%20/g," ");
                let type = (path[path.length-8]).replace(/%20/g," ");
                let lastName = (path[path.length-9]).replace(/%20/g," ");
                let firstName = (path[path.length-10]).replace(/%20/g," ");
                let borrowerid = path[path.length-11];
                $('select#type').val(type);
                $('select#status').val(status);
                $('input#totalCreditLimit').val(totalCreditLimit);
                $('select#reviewedBy').val(reviewedBy);
                $('input#employeeID').val(employeeID);
                $('input#sharesPerPayDay').val(sharesPerPayDay);
                $('select#hrCertifiedBy').val(hrCertifiedBy);
                $('select#employmentType').val(employmentType);
                if (type == 'Member') {
                  $('.membersOnly').removeClass('d-none');
                } else{
                  $('.membersOnly').addClass('d-none');
                }
                if (status == 'Verified') {
                  $('.verifiedOnly').removeClass('d-none');
                  if (type == 'Member') {
                    $('.verifiedMemberOnly').removeClass('d-none');
                  } else{
                    $('.verifiedMemberOnly').addClass('d-none');
                  }
                } else {
                  $('.verifiedOnly').addClass('d-none');
                  $('.verifiedMemberOnly').addClass('d-none');
                }
                $("#updateBorrower").attr("action", "/borrowers/" + borrowerid + '/update');
                $('span#updateBorrowerName').text(firstName + ' ' + lastName);
                $('#updateBorrowerModal').modal('show');
              });
              $('select#borrowerType').change(function () {
                if ($('select#borrowerType').val() == 'Member') {
                  $('.membersOnly').removeClass('d-none');
                  if ($('select#borrowerStatus').val() == 'Verified') {
                    $('.verifiedMemberOnly').removeClass('d-none');
                  } else{
                    $('.verifiedMemberOnly').addClass('d-none');
                  }
                } else{
                  $('.membersOnly').addClass('d-none');
                  $('.verifiedMemberOnly').addClass('d-none');
                }
              });
              $('select#borrowerStatus').change(function () {
                if ($('select#borrowerStatus').val() == 'Verified') {
                   $('.verifiedOnly').removeClass('d-none');
                  if ($('select#borrowerType').val() == 'Member') {
                    $('.verifiedMemberOnly').removeClass('d-none');
                  } else{
                    $('.verifiedMemberOnly').addClass('d-none');
                  }
                } else {
                  $('.verifiedOnly').addClass('d-none');
                  $('.verifiedMemberOnly').addClass('d-none');
                }
              });
              $('select#type').change(function () {
                if ($('select#type').val() == 'Member') {
                  $('.membersOnly').removeClass('d-none');
                  if ($('select#status').val() == 'Verified') {
                    $('.verifiedMemberOnly').removeClass('d-none');
                  } else{
                    $('.verifiedMemberOnly').addClass('d-none');
                  }
                } else{
                  $('.membersOnly').addClass('d-none');
                  $('.verifiedMemberOnly').addClass('d-none');
                }
              });
              $('select#status').change(function () {
                if ($('select#status').val() == 'Verified') {
                  $('.verifiedOnly').removeClass('d-none');
                  if ($('select#type').val() == 'Member') {
                    $('.verifiedMemberOnly').removeClass('d-none');
                  } else{
                    $('.verifiedMemberOnly').addClass('d-none');
                  }
                }
                else {
                  $('.verifiedOnly').addClass('d-none');
                  $('.verifiedMemberOnly').addClass('d-none');
                }
              });
          });

    if title.indexOf("Manage Loans") != -1
      script.
          $(function () {
            $('a.deleteLoan').click(function () {
                let path = ($(this).prop('href')).split('/');
                let loanNum = path[path.length-1];
                let loanid = path[path.length-2];
                $('a#deleteLoan').attr('href', '/loans/' + loanid + '/delete'); 
                $('span#deleteLoanNum').text(loanNum);
                $('#deleteLoanModal').modal('show'); 
            });
            $('a.updateLoan').click(function () {
                let path = ($(this).prop('href')).split('/');
                let reviewedBy = path[path.length-1];
                let status = (path[path.length-2]).replace(/%20/g," ");
                let loanTerm = path[path.length-3];
                let loanAmount = parseFloat(path[path.length-4]);
                let purposeOfLoan = (path[path.length-5]).replace(/%20/g," ");
                let borrowerType = (path[path.length-6]).replace(/%20/g," ");
                let borrowerName = (path[path.length-7]).replace(/%20/g," ");
                let loanNum = path[path.length-8];
                let loanid = path[path.length-9];
                let monthlyInterestRate = (borrowerType == 'Member') ? 3 : 5;
                $('input#borrowerName').val(borrowerName);
                $('input#borrowerType').val(borrowerType);
                $('select#purposeOfLoan').val(purposeOfLoan);
                $('input#loanAmount').val(loanAmount);
                $('input#monthlyInterestRate').val(monthlyInterestRate);
                $('select#loanTerm').val(loanTerm);
                $('select#status').val(status);
                $('select#reviewedBy').val(reviewedBy);
                if (status == 'Processing') {
                  $('select#purposeOfLoan').prop('disabled', false);
                  $('input#loanAmount').prop('disabled', false);
                  $('.processingOnly').removeClass('d-none');
                  $('select#status option[value="Processing"]').show();
                  $('select#status option[value="Approved"]').show();
                  $('select#status option[value="Declined"]').show();
                  $('select#status option[value="Loan Release"]').show();
                  $('select#status option[value="Open"]').show();
                  $('select#status option[value="Fully Paid"]').hide();
                  $('select#status option[value="Loan Debt"]').show();
                  $('select#status').prop('disabled', false);
                } else{
                  $('select#purposeOfLoan').prop('disabled', true);
                  $('input#loanAmount').prop('disabled', true);
                  $('.processingOnly').addClass('d-none');
                  $('select#status').prop('disabled', false);
                  $('select#status option[value="Processing"]').hide();
                  $('select#status option[value="Approved"]').show();
                  $('select#status option[value="Declined"]').show();
                  $('select#status option[value="Loan Release"]').show();
                  $('select#status option[value="Open"]').show();
                  $('select#status option[value="Fully Paid"]').hide();
                  $('select#status option[value="Loan Debt"]').show();
                  if (status == 'Loan Release' || status == 'Open' || status == 'Loan Debt' || status == 'Fully Paid') {
                    $('select#status option[value="Approved"]').hide();
                    $('select#status option[value="Declined"]').hide();
                  }
                  if (status == 'Open' || status == 'Loan Debt') {
                    $('select#status option[value="Loan Release"]').hide();
                  }
                  if (status == 'Fully Paid') {
                    $('select#status option[value="Open"]').hide();
                    $('select#status option[value="Fully Paid"]').show();
                    $('select#status').prop('disabled', true);
                  }
                }
                $("#updateLoan").attr("action", "/loans/" + loanid + '/update');
                $('span#updateLoanNum').text(loanNum);
                $('#updateLoanModal').modal('show');
            });
            $('select#status').change(function () {
                if ($('select#status').val() == '' || $('select#status').val() == 'Processing') {
                  $('select#purposeOfLoan').prop('disabled', false);
                  $('input#loanAmount').prop('disabled', false);
                  $('.processingOnly').removeClass('d-none');
                  $('select#status option[value="Processing"]').show();
                  $('select#status option[value="Approved"]').show();
                  $('select#status option[value="Declined"]').show();
                  $('select#status option[value="Loan Release"]').show();
                  $('select#status option[value="Open"]').show();
                  $('select#status option[value="Fully Paid"]').hide();
                  $('select#status option[value="Loan Debt"]').show();
                  $('select#status').prop('disabled', false);
                } else{
                  $('select#purposeOfLoan').prop('disabled', true);
                  $('input#loanAmount').prop('disabled', true);
                  $('.processingOnly').addClass('d-none');
                  $('select#status').prop('disabled', false);
                  $('select#status option[value="Processing"]').hide();
                  $('select#status option[value="Approved"]').show();
                  $('select#status option[value="Declined"]').show();
                  $('select#status option[value="Loan Release"]').show();
                  $('select#status option[value="Open"]').show();
                  $('select#status option[value="Fully Paid"]').hide();
                  $('select#status option[value="Loan Debt"]').show();
                  if ($('select#status').val() == 'Loan Release' || $('select#status').val() == 'Open' || $('select#status').val() == 'Loan Debt' || $('select#status').val() == 'Fully Paid') {
                    $('select#status option[value="Approved"]').hide();
                    $('select#status option[value="Declined"]').hide();
                  }
                  if ($('select#status').val() == 'Open' || $('select#status').val() == 'Loan Debt') {
                    $('select#status option[value="Loan Release"]').hide();
                  }
                  if ($('select#status').val() == 'Fully Paid') {
                    $('select#status option[value="Open"]').hide();
                    $('select#status option[value="Fully Paid"]').show();
                    $('select#status').prop('disabled', true);
                  }
                }
            });
            $('select#name').change(function () {
              let token = $('input[name="_csrf"]').attr('value');
                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', token);
                    }
                });
                $.ajax({
                    url: "/loans/borrowers/" + $('select#name').val(),
                    type: "GET",
                    data: {},
                    cache: false,
                    success: function (data) {
                      console.log(data);
                        $('input#type').val(data.borrowerType);
                        $('input#interest').val((data.borrowerType == "Member") ? 3 : 5);
                        $('input#amount').prop('max', data.remainingCreditLimit);
                        $('input#amount').val(data.remainingCreditLimit);
                    },
                    error: function (xhr, status, error) {
                       console.log(xhr.responseJSON.message);
                    }
                });
            });
          });

    if title.indexOf("Security") != -1
      script.
        $(function () {
            $('select#question2 option[value="' + $('select#question1').val() + '"]').hide();
            $('select#question3 option[value="' + $('select#question1').val() + '"]').hide();
            $('select#question1 option[value="' + $('select#question2').val() + '"]').hide();
            $('select#question3 option[value="' + $('select#question2').val() + '"]').hide();
            $('select#question1 option[value="' + $('select#question3').val() + '"]').hide();
            $('select#question2 option[value="' + $('select#question3').val() + '"]').hide();
            $('select#question1').change(function () {
                $('select#question2 option[value="' + $('select#question1').val() + '"]').hide();
                $('select#question3 option[value="' + $('select#question1').val() + '"]').hide();
            });
            $('select#question2').change(function () {
                $('select#question1 option[value="' + $('select#question2').val() + '"]').hide();
                $('select#question3 option[value="' + $('select#question2').val() + '"]').hide();
            });
            $('select#question3').change(function () {
                $('select#question1 option[value="' + $('select#question3').val() + '"]').hide();
                $('select#question2 option[value="' + $('select#question3').val() + '"]').hide();
            });
        });

    if title.indexOf("Account Management - Verifications") != -1
      script(src='/js/chart-pie.js')

    if title.indexOf("Address") != -1
      script.
        $(function () {
          let boxChecked = function () {
            if ($("input[name=sameAddress]:checked").length == 1){
                $("input[name=sameAddress]").val("true");
                $("input[name=unitNo2]").val( $("input[name=unitNo]").val());
                $("input[name=unitNo2]").prop('disabled', true);
                $("input[name=houseNo2]").val( $("input[name=houseNo]").val());
                $("input[name=houseNo2]").prop('disabled', true);
                $("input[name=street2]").val( $("input[name=street]").val());
                $("input[name=street2]").prop('disabled', true);
                $("input[name=subdivision2]").val( $("input[name=subdivision]").val());
                $("input[name=subdivision2]").prop('disabled', true);
                $("input[name=barangay2]").val( $("input[name=barangay]").val());
                $("input[name=barangay2]").prop('disabled', true);
                $("input[name=city2]").val( $("input[name=city]").val());
                $("input[name=city2]").prop('disabled', true);
                $("input[name=province2]").val( $("input[name=province]").val());
                $("input[name=province2]").prop('disabled', true);
                $("input[name=zipCode2]").val( $("input[name=zipCode]").val());
                $("input[name=zipCode2]").prop('disabled', true);
            } else{
                $("input[name=sameAddress]").val("false");
                $("input[name=unitNo2]").prop('disabled', false);
                $("input[name=houseNo2]").prop('disabled', false);
                $("input[name=street2]").prop('disabled', false);
                $("input[name=subdivision2]").prop('disabled', false);
                $("input[name=barangay2]").prop('disabled', false);
                $("input[name=city2]").prop('disabled', false);
                $("input[name=province2]").prop('disabled', false);
                $("input[name=zipCode2]").prop('disabled', false);
            }
          };
          boxChecked();
          $("input[name=sameAddress]").on("click", boxChecked);
        });

    if title.indexOf("Financial Questionnaire") != -1
      script.
        $(function () {
          let radioChecked = function () {
            if ($('input[name="mop"]:checked').length == 1 && $('input[name="mop"]:checked')[0].value == "Bank Transfer") {
              $('.bank').show();
              $('.gcash').hide();
              $("input[name=bankName2]").val( $("input[name=bankName2]").val());
              $("input[name=bankName2]").prop('disabled', true);
              $("input[name=accountNum2]").val( $("input[name=accountNum2]").val());
              $("input[name=accountNum2]").prop('disabled', true);
            } else if ($('input[name="mop"]:checked').length == 1 && $('input[name="mop"]:checked')[0].value == "G-Cash") {
              $('.gcash').show();
              $('.bank').hide();
              $("input[name=bankName]").val( $("input[name=bankName]").val());
              $("input[name=bankName]").prop('disabled', true);
              $("input[name=branch]").val( $("input[name=branch]").val());
              $("input[name=branch]").prop('disabled', true);
              $("input[name=accountType]").val( $("input[name=accountType]").val());
              $("input[name=accountType]").prop('disabled', true);
              $("input[name=accountNum]").val( $("input[name=accountNum]").val());
              $("input[name=accountNum]").prop('disabled', true);
            } else{
              $('.gcash').hide();
              $('.bank').hide();
            }
          };
          radioChecked();
          $('input[name="mop"]').on("click", radioChecked);
        });

    if title.indexOf("Identity Documentation") != -1
      script.
        $(function () {
          let radioChecked = function () {
            if ($('input[name="identity2Options"]:checked')[0].value == "Company") {
              $('.company-id').show();
              $('.coe').hide();
            } else if ($('input[name="identity2Options"]:checked')[0].value == "COE") {
              $('.coe').show();
              $('.company-id').hide();
            }
            if ($('input[name="identity3Options"]:checked')[0].value == "Payslip") {
              $('.payslip').show();
              $('.bir').hide();
            } else if ($('input[name="identity3Options"]:checked')[0].value == "BIR") {
              $('.bir').show();
              $('.payslip').hide();
            }
          };
          radioChecked();
          $("input[type=radio]").on("click", radioChecked);
        });

    if title.indexOf("Account Management - Loans") != -1
      script.
        $(function () {
          let boxChecked = function () {
            if ($('input[name="termsAndCondition"]:checked').length == 1) {
              $('input[name="termsAndCondition"]').val("true");
            } else {
              $('input[name="termsAndCondition"]').val("false");
            }
          };
          boxChecked();
          $('input[type="checkbox"]').on("click", boxChecked);
        });

    if title.indexOf("Loan Details") != -1
      script.
        $(function () {
          $('select[name="method"]').on("change",  function () {
              if ($('select[name="method"]').val() == "G-Cash"){
                $('input[name="receiverNum"]').val('9556993031');
              }else{
                $('input[name="receiverNum"]').val('3729457999')
              }
          });
        });

    if title.indexOf("KYC Declaration") != -1
      script.
        $(function () {
          let boxChecked = function () {
            if ($('input[name="termsAndCondition"]:checked').length == 1) {
              $('input[name="termsAndCondition"]').val("true");
            } else {
              $('input[name="termsAndCondition"]').val("false");
            }
            if ($('input[name="privacyPolicy"]:checked').length == 1) {
              $('input[name="privacyPolicy"]').val("true");
            } else {
              $('input[name="privacyPolicy"]').val("false");
            }
            if ($('input[name="soa"]:checked').length == 1) {
              $('input[name="soa"]').val("true");
            } else {
              $('input[name="soa"]').val("false");
            }
             if ($('input[name="letterOfAuthorization"]:checked').length == 1) {
              $('input[name="letterOfAuthorization"]').val("true");
            } else {
              $('input[name="letterOfAuthorization"]').val("false");
            }
          };
          boxChecked();
          $('input[type="checkbox"]').on("click", boxChecked);
          var sig = $('#sig').signature();
          $('#clear').click(function () {
            sig.signature('clear');
          });
          $('#redrawButton').click(function () {
            $('#signatureDataURL').val(sig.signature('toJSON'));
            var signature = JSON.parse($('#signatureDataURL').val());
            if (signature.lines.length > 0) {
              $('#defaultSignature').attr("src", sig.signature('toDataURL', 'image/jpeg'));
              $('#signatureDataURL').val(sig.signature('toDataURL', 'image/jpeg'));
            }
            else {
              $('#defaultSignature').attr("src", "img/icon_signature.png");
              $('#signatureDataURL').val("");
            }
          });
          $('#redrawSignature').signature({ disabled: true });
        });
