doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(name='description' content='Loan System')
    meta(name='author' content='Ma. Camille G. Maulion')
    meta(name='csrf-token', content=_csrf)
    title #{title} - VMO EZ Loan
    link(rel='shortcut icon', href='/favicon.ico')
    link(href='/css/all.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet' type='text/css')
    link(href='/css/dataTables.bootstrap4.min.css' rel='stylesheet')
    link(href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css' rel='stylesheet' type='text/css')
    link(href='/css/sb-admin-2.css' rel='stylesheet')
    block head

  body#page-top
    
    #wrapper
      include partials/header
      block content
      include partials/footer

    script(src='/js/jquery.min.js')
    script(src='/js/jquery.validate.min.js')
    script(src='/js/bootstrap.bundle.min.js')
    script(src='/js/jquery.easing.min.js')
    script(src='/js/methods.js')
    script(src='/js/sb-admin-2.js')
    script(src='/js/validations.js')
    script(src='/js/chart.min.js')
    script(src='/js/jquery.dataTables.min.js')
    script(src='/js/dataTables.bootstrap4.min.js')
    script(src='/js/datatables.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='/js/jquery.signature.js')

    if title.indexOf("Profile") != -1
      script.
          $(function () {
              $('input[name="profilePic"]').change(function () {
                  $("form#profilePicForm").submit();
              });
              $('a#verifyMobileNum').on('click',function () {
                let path = ($('a#verifyMobileNum').prop('href')).split('/');
                let mobileNum = path[path.length-1];
                let firstName = path[path.length-2];
                let token = $('input[name="_csrf"]').attr('value');
                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', token);
                    }
                });
                $.ajax({
                    url: "/api/sendOTP",
                    type: "POST",
                    data: {
                        mobileNum: mobileNum,
                        name: firstName
                    },
                    cache: false,
                    success: function (data) {
                        $('#codeModal').modal('show'); 
                    },
                    error: function (xhr, status, error) {
                       console.log(xhr.responseJSON.message);
                    }
                });
              });
          });

    if title.indexOf("Manage Inquiries") != -1
      script.
          $(function () {
            $('#dataTable').on('click','.deleteInquiry',function () {
                let path = ($(this).prop('href')).split('/');
                let inquiryName = (path[path.length-1]).replace(/%20/g," ");
                let inquiryNum = path[path.length-2];
                let inquiryid = path[path.length-3];
                $('a#deleteInquiry').attr('href', '/inquiries/' + inquiryid + '/delete'); 
                $('span#deleteInquiryNum').text(inquiryNum);
                $('span#deleteInquiryName').text(inquiryName);
                $('#deleteInquiryModal').modal('show'); 
            });
            $('#dataTable').on('click','.updateInquiry',function () {
                let path = ($(this).prop('href')).split('/');
                let inquiryMessage = (path[path.length-1]).replace(/%20/g," ");
                let inquiryEmail = (path[path.length-2]).replace(/%20/g," ");
                let inquiryName = (path[path.length-3]).replace(/%20/g," ");
                let inquiryNum = path[path.length-4];
                let inquiryid = path[path.length-5];
                $('input#name').val(inquiryName);
                $('input#email').val(inquiryEmail);
                $('textarea#message').val(inquiryMessage);
                $('span#updateInquiryNum').text(" " + inquiryNum);
                $("#updateInquiry").attr("action", "/inquiries/" + inquiryid + '/update');
                $('#updateInquiryModal').modal('show');
            });
          });

    if title.indexOf("Manage Borrowers") != -1
      script.
          $(function () {
              $('#addNewBorrower').on('click', function () {
                $('select#borrowerType').val("");
                $('select#borrowerStatus').val("");
                $('.membersOnly').addClass('d-none');
                $('.verifiedOnly').addClass('d-none');
                $('.verifiedMemberOnly').addClass('d-none');
                $('#addBorrowerModal').modal('show'); 
              });
              $('#dataTable').on('click','.deleteBorrower',function () {
                let path = ($(this).prop('href')).split('/');
                let lastName = (path[path.length-1]).replace(/%20/g," ");
                let firstName = (path[path.length-2]).replace(/%20/g," ");
                let borrowerid = path[path.length-3];
                let userid = path[path.length-4];
                $('a#deleteBorrower').attr('href', '/borrowers/' + borrowerid + '/' + userid + '/delete'); 
                $('span#deleteBorrowerName').text(firstName + ' ' + lastName);
                $('#deleteBorrowerModal').modal('show'); 
              });
              $('#dataTable').on('click','.updateBorrower',function () {
                let path = ($(this).prop('href')).split('/');
                let borrowerid = path[path.length-1];
                let token = $('input[name="_csrf"]').attr('value');
                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', token);
                    }
                });
                $.ajax({
                    url: "/borrowers/" + borrowerid,
                    type: "GET",
                    data: {},
                    cache: false,
                    success: function (data) {
                        let employmentType = (data.borrower.workBusinessInfo && data.borrower.workBusinessInfo.employmentType) ? data.borrower.workBusinessInfo.employmentType : '';
                        let reviewedBy = (data.borrower.reviewedBy && data.borrower.reviewedBy._id) ? data.borrower.reviewedBy._id : '';
                        let hrCertifiedBy = (data.borrower.hrCertifiedBy && data.borrower.hrCertifiedBy._id) ? data.borrower.hrCertifiedBy._id : '';
                        $('select#type').val(data.borrower.type);
                        $('select#status').val(data.borrower.status);
                        $('input#totalUsedCreditLimit').val(parseFloat(data.totalUsedCreditLimit));
                        $('input#remainingCreditLimit').val(parseFloat(data.remainingCreditLimit));
                        $('input#totalCreditLimit').val(parseFloat(data.borrower.totalCreditLimit));
                        $('select#reviewedBy').val(reviewedBy);
                        $('input#employeeID').val(data.borrower.employeeID);
                        $('input#sharesPerPayDay').val(data.borrower.sharesPerPayDay);
                        $('select#hrCertifiedBy').val(hrCertifiedBy);
                        $('select#employmentType').val(employmentType);
                        $('select#type').prop('disabled', false);
                        $('select#status').prop('disabled', false);
                        $("#updateBorrower .btn.btn-primary").show();
                        $("#updateBorrower").attr("action", "/borrowers/" + borrowerid + '/update');
                        $('span#updateBorrowerName').text(data.borrower.profile.firstName + ' ' + data.borrower.profile.lastName);
                        if (data.borrower.type == 'Member') {
                          $('select#type option[value="Member"]').show();
                          $('select#type option[value="Non-Member"]').hide();
                          $('.membersOnly').removeClass('d-none');
                        } else{
                          $('select#type option[value="Member"]').hide();
                          $('select#type option[value="Non-Member"]').show();
                          $('select#type option[value="Basic"]').hide();
                          $('.membersOnly').addClass('d-none');
                        }
                        if (data.borrower.status == 'Verified') {
                          $('select#status option[value="Basic"]').hide();
                          $('select#status option[value="Pending for Review"]').hide();
                          $('select#status option[value="Declined"]').hide();
                          $('select#status option[value="Verified"]').show();
                          $('.verifiedOnly').removeClass('d-none');
                          if (parseFloat(data.borrower.totalCreditLimit) > 0) {
                            $('.withCreditLimitOnly').removeClass('d-none');
                          } else {
                            $('.withCreditLimitOnly').addClass('d-none');
                          }
                          if (data.borrower.type == 'Member') {
                            $('.verifiedMemberOnly').removeClass('d-none');
                          } else{
                            $('.verifiedMemberOnly').addClass('d-none');
                          }
                        } else {
                          $('select#status option[value="Basic"]').show();
                          $('select#status option[value="Pending for Review"]').show();
                          $('select#status option[value="Declined"]').show();
                          $('select#status option[value="Verified"]').show();
                          if (data.borrower.status == 'Pending for Review') {
                            $('select#status option[value="Basic"]').hide();
                          }
                          if (data.borrower.status == 'Declined') {
                            $('select#type').prop('disabled', true);
                            $('select#status').prop('disabled', true);
                            $('select#status option[value="Basic"]').hide();
                            $('select#status option[value="Pending for Review"]').hide();
                            $('select#status option[value="Verified"]').hide();
                            $("#updateBorrower .btn.btn-primary").hide();
                          }
                          $('.withCreditLimitOnly').addClass('d-none');
                          $('.verifiedOnly').addClass('d-none');
                          $('.verifiedMemberOnly').addClass('d-none');
                        }
                        $('#updateBorrowerModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                       console.log(xhr.responseJSON.message);
                    }
                });
              });
              $('select#borrowerType').change(function () {
                if ($('select#borrowerType').val() == 'Member') {
                  $('.membersOnly').removeClass('d-none');
                  if ($('select#borrowerStatus').val() == 'Verified') {
                    $('.verifiedMemberOnly').removeClass('d-none');
                  } else{
                    $('.verifiedMemberOnly').addClass('d-none');
                  }
                } else{
                  $('.membersOnly').addClass('d-none');
                  $('.verifiedMemberOnly').addClass('d-none');
                }
              });
              $('select#borrowerStatus').change(function () {
                if ($('select#borrowerStatus').val() == 'Verified') {
                   $('.verifiedOnly').removeClass('d-none');
                  if ($('select#borrowerType').val() == 'Member') {
                    $('.verifiedMemberOnly').removeClass('d-none');
                  } else{
                    $('.verifiedMemberOnly').addClass('d-none');
                  }
                } else {
                  $('.verifiedOnly').addClass('d-none');
                  $('.verifiedMemberOnly').addClass('d-none');
                }
              });
              $('select#type').change(function () {
                if ($('select#type').val() == 'Member') {
                  $('.membersOnly').removeClass('d-none');
                  if ($('select#status').val() == 'Verified') {
                    $('.verifiedMemberOnly').removeClass('d-none');
                  } else{
                    $('.verifiedMemberOnly').addClass('d-none');
                  }
                } else{
                  $('.membersOnly').addClass('d-none');
                  $('.verifiedMemberOnly').addClass('d-none');
                }
              });
              $('select#status').change(function () {
                if ($('select#status').val() == 'Verified') {
                  $('.verifiedOnly').removeClass('d-none');
                  if (parseFloat($('input#totalCreditLimit').val()) > 0) {
                    $('.withCreditLimitOnly').removeClass('d-none');
                  } else {
                    $('.withCreditLimitOnly').addClass('d-none');
                  }
                  if ($('select#type').val() == 'Member') {
                    $('.verifiedMemberOnly').removeClass('d-none');
                  } else{
                    $('.verifiedMemberOnly').addClass('d-none');
                  }
                }
                else {
                  $('.withCreditLimitOnly').addClass('d-none');
                  $('.verifiedOnly').addClass('d-none');
                  $('.verifiedMemberOnly').addClass('d-none');
                }
              });
          });
    
    if title.indexOf("Manage Employees") != -1
      script.
          $(function () {
              $('select#type').change(function () {
                if ($('select#type').val() == 'Loan Processor') {
                  $('.loanProcessorOnly').removeClass('d-none');
                } else{
                  $('.loanProcessorOnly').addClass('d-none');
                }
              });
              $('#dataTable').on('click','.deleteEmployee',function () {
                let path = ($(this).prop('href')).split('/');
                let type = (path[path.length-1]).replace(/%20/g," ");
                let lastName = (path[path.length-2]).replace(/%20/g," ");
                let firstName = (path[path.length-3]).replace(/%20/g," ");
                let employeeid = path[path.length-4];
                let userid = path[path.length-5];
                if (type == "admin") {
                  $('a#deleteEmployee').attr('href', '/admins/' + employeeid + '/' + userid + '/delete'); 
                }
                else{
                  $('a#deleteEmployee').attr('href', '/employees/' + employeeid + '/' + userid + '/delete'); 
                }
                $('span#deleteEmployeeName').text(firstName + ' ' + lastName);
                $('#deleteEmployeeModal').modal('show'); 
              });
          });

    if title.indexOf("Manage Withdrawal Requests") != -1
      script.
          $(function () {
            $('#dataTable').on('click','.deleteWithdrawal',function () {
                let path = ($(this).prop('href')).split('/');
                let borrowerName = (path[path.length-1]).replace(/%20/g," ");
                let withdrawalNum = path[path.length-2];
                let withdrawalid = path[path.length-3];
                $('a#deleteWithrawal').attr('href', '/withdrawals/' + withdrawalid + '/delete'); 
                $('span#deleteWithrawalNum').text(withdrawalNum);
                $('span#deleteBorrowerName').text(borrowerName);
                $('#deleteWithdrawalModal').modal('show'); 
            });
            $('#dataTable').on('click','.updateWithdrawal',function () {
                let path = ($(this).prop('href')).split('/');
                let withdrawalid = path[path.length-1];
                let token = $('input[name="_csrf"]').attr('value');
                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', token);
                    }
                });
                $.ajax({
                    url: "/withdrawals/" + withdrawalid,
                    type: "GET",
                    data: {},
                    cache: false,
                    success: function (data) {
                      $('input#borrowerName').val(data.withdrawal.requestedBy.account.number + ' - ' + data.withdrawal.requestedBy.profile.firstName + ' ' + data.withdrawal.requestedBy.profile.lastName);
                      $('input#shares').val(data.total);
                      $('input#withdrawReason').val(data.withdrawal.reason);
                      $('input#withdrawAmount').val(data.withdrawal.amount);
                      $('select#status').val(data.withdrawal.status);
                      $('select#reviewedBy').val(data.withdrawal.reviewedBy);
                      $('.addTransactionOnly').addClass('d-none');
                      $('select#status option[value="Processing"]').show();
                      $('#updateWithdrawalNum').text(data.withdrawal.withdrawalNum);
                      if (data.withdrawal.status == "Declined" || data.withdrawal.status == "Cash Release") {
                        $('select#status').prop('disabled', true);
                        $('select#reviewedBy').prop('disabled', true);
                        $("#updateWithdrawal .btn.btn-primary").hide();
                        $('#updateTitle').text("Withdrawal No. ");
                      } else {
                        $('select#status').prop('disabled', false);
                        $('select#reviewedBy').prop('disabled', false);
                        $("#updateWithdrawal .btn.btn-primary").show();
                        $("#updateWithdrawal").attr("action", "/withdrawals/" + withdrawalid);
                        $('#updateTitle').text("Update ");
                      }
                      if (data.withdrawal.status == "Approved"){
                        $('select#status option[value="Processing"]').hide();
                      } 
                      $('#updateWithdrawalModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                      console.log(xhr.responseJSON.message);
                    }
                });
            });
            $('select#status').change(function () {
              $('.addTransactionOnly').addClass('d-none');
              if($('select#status').val() == "Cash Release") $('.addTransactionOnly').removeClass('d-none');
            });
            $('select#receiverName').change(function () {
                let token = $('input[name="_csrf"]').attr('value');
                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', token);
                    }
                });
                $.ajax({
                    url: "/contributions/" +  $('select#receiverName').val(),
                    type: "GET",
                    data: {},
                    cache: false,
                    success: function (data) {
                      $('input#contributions').val(data);
                      $('input#amount').prop('max', data);
                    },
                    error: function (xhr, status, error) {
                       console.log(xhr.responseJSON.message);
                    }
                });
            });
          });

    if title.indexOf("Manage Transactions") != -1
      script.
          $(function () {
            $('#dataTable').on('click','.deleteTransaction',function () {
                let path = ($(this).prop('href')).split('/');
                let transactionNum = path[path.length-1];
                if (path.length == 4) {
                  $('#deleteTransactionModalLabel').text("Transaction No. " + transactionNum);
                  $('#deleteTransactionMsg').text("Warning. You cannot delete this transaction.");
                  $('a#deleteTransaction').hide();
                } else {
                  $('#deleteTransactionModalLabel').text("Delete Confirmation");
                  $('#deleteTransactionMsg').text("Are you sure you want to delete transaction no. "+ transactionNum + "? This action cannot be undone.");
                  let transactionid = path[path.length-2];
                  $('a#deleteTransaction').attr('href', '/transactions/' + transactionid + '/delete'); 
                  $('a#deleteTransaction').show();
                }
                $('#deleteTransactionModal').modal('show'); 
            });
            $('#dataTable').on('click','.updateTransaction',function () {
                let path = ($(this).prop('href')).split('/');
                let transactionid = path[path.length-1];
                let token = $('input[name="_csrf"]').attr('value');
                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', token);
                    }
                });
                $.ajax({
                    url: "/transactions/" + transactionid,
                    type: "GET",
                    data: {},
                    cache: false,
                    success: function (data) {
                      $("span#updateTxnNum").text(data.transactionNum);
                      $('input#type').val(data.type);
                      $('input#amount').val(parseFloat(data.amount).toFixed(2));
                      $('input#borrowerName').val(data.borrowerId.profile.firstName + ' ' + data.borrowerId.profile.lastName);
                      $('input#postedBy').val(data.postedBy.profile.firstName + ' ' + data.postedBy.profile.lastName);
                      $('textarea#message').val(data.message);
                      if (data.type == "Release" || data.type == "Withdrawals") {
                        $('input#borrowerAcctNo').val(data.receiverNum);
                        $('input#processorAcctNo').val(data.senderNum);
                      } else {
                        $('input#borrowerAcctNo').val(data.senderNum);
                        $('input#processorAcctNo').val(data.receiverNum);
                      }
                      if (data.type == "Expenses") {
                        $('.notExpensesType').hide();
                      } else{
                        $('.notExpensesType').show();
                      }
                      if (data.message) {
                        $('.messageOnly').show();
                      } else {
                        $('.messageOnly').hide();
                      }
                      $('input#referenceNo').val(data.referenceNo);
                      $('select#status').val(data.status);
                      if (data.status == "Posted") {
                        $("select#status").prop('disabled', true);
                        $("#updateTitle").text("Transaction No. ");
                        $("#updateTxn .btn.btn-primary").hide();
                      } else {
                        $("select#status").prop('disabled', false);
                        $("#updateTitle").text("Update ");
                        $("#updateTxn .btn.btn-primary").show();
                        $("#updateTxn").attr("action", "/transactions/" + transactionid);
                      }
                      $('#updateTransactionModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                      console.log(xhr.responseJSON.message);
                    }
                });
            });
          });

    if title.indexOf("Manage Loans") != -1
      script.
          $(function () {
            $('#dataTable').on('click','.deleteLoan',function () {
                let path = ($(this).prop('href')).split('/');
                let borrowerName = (path[path.length-1]).replace(/%20/g," ");
                let loanNum = path[path.length-2];
                let loanid = path[path.length-3];
                $('a#deleteLoan').attr('href', '/loans/' + loanid + '/delete'); 
                $('span#deleteLoanNum').text(loanNum);
                $('span#deleteBorrowerName').text(borrowerName);
                $('#deleteLoanModal').modal('show'); 
            });
            $('#dataTable').on('click','.updateLoan',function () {
                let path = ($(this).prop('href')).split('/');
                let loanid = path[path.length-1];
                let token = $('input[name="_csrf"]').attr('value');
                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', token);
                    }
                });
                $.ajax({
                    url: "/borrowers/loans/" + loanid,
                    type: "GET",
                    data: {},
                    cache: false,
                    success: function (data) {
                      let amount = parseFloat(data.loan.loanAmount) + parseFloat(data.remainingCreditLimit);
                      let monthlyInterestRate = (data.loan.requestedBy.type == 'Member') ? 3 : 5;
                      let accountNum = (data.loan.requestedBy.account && data.loan.requestedBy.account.number) ? data.loan.requestedBy.account.number : '';
                      let balance = (parseFloat(data.currentDue.principalBalance) + parseFloat(data.currentDue.interestBalance)).toFixed(2);
                      $('select#borrowerName').val(data.loan.requestedBy._id);
                      $('input#borrowerType').val(data.loan.requestedBy.type);
                      $('input#purposeOfLoan').val(data.loan.purposeOfLoan);
                      $('input#loanAmount').val(parseFloat(data.loan.loanAmount));
                      $('input#loanAmount').prop('max', amount);
                      $('input#monthlyInterestRate').val(monthlyInterestRate);
                      $('select#loanTerm').val(data.loan.loanTerm);
                      $('select#status').val(data.loan.status);
                      $('select#reviewedBy').val(data.loan.reviewedBy);
                      $('input#borrowerAcctNo').val(accountNum);
                      $('input#newProceedsAmount').val(parseFloat(data.loan.newProceedsAmount));
                      $('input#balance').val(balance);
                      $("#updateLoan .btn.btn-primary").show();
                      $("#updateLoan").attr("action", "/loans/" + loanid);
                      $('#updateTitle').text("Update ");
                      $('#updateLoanNum').text(data.loan.loanNum);
                      $('.addTransactionOnly').addClass('d-none');
                      $('.loanReleaseOnly').addClass('d-none');
                      $('.fullyPaidOnly').addClass('d-none');
                      if (data.loan.status == 'Processing') {
                        $('select#purposeOfLoan').prop('disabled', false);
                        $('.processingOnly').removeClass('d-none');
                        $('select#status').prop('disabled', false);
                        $('select#reviewedBy').prop('disabled', false);
                        $('select#status option[value="Processing"]').show();
                        $('select#status option[value="Approved"]').show();
                        $('select#status option[value="Declined"]').show();
                        $('select#status option[value="Loan Release"]').show();
                        $('select#status option[value="Open"]').hide();
                        $('select#status option[value="Fully Paid"]').hide();
                        $('select#status option[value="Loan Debt"]').hide(); 
                      } else{
                        $('select#purposeOfLoan').prop('disabled', true);
                        $('.processingOnly').addClass('d-none');
                        $('select#status').prop('disabled', false);
                        $('select#reviewedBy').prop('disabled', true);
                        $('select#status option[value="Processing"]').hide();
                        $('select#status option[value="Approved"]').show();
                        $('select#status option[value="Declined"]').show();
                        $('select#status option[value="Loan Release"]').show();
                        $('select#status option[value="Open"]').hide();
                        $('select#status option[value="Fully Paid"]').hide();
                        $('select#status option[value="Loan Debt"]').hide();
                        if (data.loan.status == 'Open' || data.loan.status == 'Loan Debt') {
                          $('select#status option[value="Approved"]').hide();
                          $('select#status option[value="Declined"]').hide();
                          $('select#status option[value="Loan Release"]').hide();
                          $('select#status option[value="Open"]').show();
                          $('select#status option[value="Loan Debt"]').show();
                          $('select#status option[value="Fully Paid"]').show();
                        }
                        if (data.loan.status == 'Loan Debt') {
                          $('select#status option[value="Approved"]').hide();
                          $('select#status option[value="Declined"]').hide();
                          $('select#status option[value="Loan Release"]').hide();
                          $('select#status option[value="Open"]').hide();
                          $('select#status option[value="Loan Debt"]').show();
                          $('select#status option[value="Fully Paid"]').show();
                        }
                        if (data.loan.status == 'Fully Paid' || data.loan.status == 'Declined') {
                          $('#updateTitle').text("Loan No. ");
                          $("#updateLoan .btn.btn-primary").hide();
                          $('select#status option[value="Approved"]').hide();
                          $('select#status option[value="Declined"]').show();
                          $('select#status option[value="Loan Release"]').hide();
                          $('select#status option[value="Open"]').hide();
                          $('select#status option[value="Loan Debt"]').hide();
                          $('select#status option[value="Fully Paid"]').show();
                          $('select#status').prop('disabled', true);
                        }
                      }
                      $('#updateLoanModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                      console.log(xhr.responseJSON.message);
                    }
                });
            });
            $('select#status').change(function () {
              $('.loanReleaseOnly').addClass('d-none');
              $('.fullyPaidOnly').addClass('d-none');
              $('.addTransactionOnly').addClass('d-none');
              if($('select#status').val() == "Loan Release" || $('select#status').val() == "Fully Paid") {
                $('.addTransactionOnly').removeClass('d-none');
                $('.loanReleaseOnly').addClass('d-none');
                $('.fullyPaidOnly').addClass('d-none');
                if($('select#status').val() == "Loan Release") {
                  $('.loanReleaseOnly').removeClass('d-none');
                } 
                if($('select#status').val() == "Fully Paid") {
                  $('.fullyPaidOnly').removeClass('d-none');
                } 
              } 
            });
            $('select#name').change(function () {
                let token = $('input[name="_csrf"]').attr('value');
                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', token);
                    }
                });
                $.ajax({
                    url: "/borrowers/" + $('select#name').val(),
                    type: "GET",
                    data: {},
                    cache: false,
                    success: function (data) {
                        $('input#type').val(data.borrower.type);
                        $('input#interest').val((data.borrower.type == "Member") ? 3 : 5);
                        $('input#amount').prop('max', data.remainingCreditLimit);
                        $('input#amount').val(data.remainingCreditLimit);
                    },
                    error: function (xhr, status, error) {
                       console.log(xhr.responseJSON.message);
                    }
                });
            });
          });
    
    if title.indexOf("Security") != -1
      script.
        $(function () {
            $('select#question2 option[value="' + $('select#question1').val() + '"]').hide();
            $('select#question3 option[value="' + $('select#question1').val() + '"]').hide();
            $('select#question1 option[value="' + $('select#question2').val() + '"]').hide();
            $('select#question3 option[value="' + $('select#question2').val() + '"]').hide();
            $('select#question1 option[value="' + $('select#question3').val() + '"]').hide();
            $('select#question2 option[value="' + $('select#question3').val() + '"]').hide();
            $('select#question1').change(function () {
                $('select#question2 option[value="' + $('select#question1').val() + '"]').hide();
                $('select#question3 option[value="' + $('select#question1').val() + '"]').hide();
            });
            $('select#question2').change(function () {
                $('select#question1 option[value="' + $('select#question2').val() + '"]').hide();
                $('select#question3 option[value="' + $('select#question2').val() + '"]').hide();
            });
            $('select#question3').change(function () {
                $('select#question1 option[value="' + $('select#question3').val() + '"]').hide();
                $('select#question2 option[value="' + $('select#question3').val() + '"]').hide();
            });
        });

    if title.indexOf("Account Management - Verifications") != -1
      script(src='/js/chart-pie.js')

    if title.indexOf("Address") != -1
      script.
        $(function () {
          let boxChecked = function () {
            if ($("input[name=sameAddress]:checked").length == 1){
                $("input[name=sameAddress]").val("true");
                $("input[name=unitNo2]").val( $("input[name=unitNo]").val());
                $("input[name=unitNo2]").prop('disabled', true);
                $("input[name=houseNo2]").val( $("input[name=houseNo]").val());
                $("input[name=houseNo2]").prop('disabled', true);
                $("input[name=street2]").val( $("input[name=street]").val());
                $("input[name=street2]").prop('disabled', true);
                $("input[name=subdivision2]").val( $("input[name=subdivision]").val());
                $("input[name=subdivision2]").prop('disabled', true);
                $("input[name=barangay2]").val( $("input[name=barangay]").val());
                $("input[name=barangay2]").prop('disabled', true);
                $("input[name=city2]").val( $("input[name=city]").val());
                $("input[name=city2]").prop('disabled', true);
                $("input[name=province2]").val( $("input[name=province]").val());
                $("input[name=province2]").prop('disabled', true);
                $("input[name=zipCode2]").val( $("input[name=zipCode]").val());
                $("input[name=zipCode2]").prop('disabled', true);
            } else{
                $("input[name=sameAddress]").val("false");
                $("input[name=unitNo2]").prop('disabled', false);
                $("input[name=houseNo2]").prop('disabled', false);
                $("input[name=street2]").prop('disabled', false);
                $("input[name=subdivision2]").prop('disabled', false);
                $("input[name=barangay2]").prop('disabled', false);
                $("input[name=city2]").prop('disabled', false);
                $("input[name=province2]").prop('disabled', false);
                $("input[name=zipCode2]").prop('disabled', false);
            }
          };
          boxChecked();
          $("input[name=sameAddress]").on("click", boxChecked);
        });

    if title.indexOf("Identity Documentation") != -1
      script.
        $(function () {
          let radioChecked = function () {
            if ($('input[name="identity2Options"]:checked')[0].value == "Company") {
              $('.company-id').show();
              $('.coe').hide();
            } else if ($('input[name="identity2Options"]:checked')[0].value == "COE") {
              $('.coe').show();
              $('.company-id').hide();
            }
            if ($('input[name="identity3Options"]:checked')[0].value == "Payslip") {
              $('.payslip').show();
              $('.bir').hide();
            } else if ($('input[name="identity3Options"]:checked')[0].value == "BIR") {
              $('.bir').show();
              $('.payslip').hide();
            }
          };
          radioChecked();
          $("input[type=radio]").on("click", radioChecked);
        });

    if title.indexOf("Account Management - Loans") != -1
      script.
        $(function () {
          $("#addCredits .btn.btn-primary").hide();
          let boxChecked = function () {
            if ($('input[name="termsAndCondition"]:checked').length == 1) {
              $('input[name="termsAndCondition"]').val("true");
              if ($('input#termsAndCondition').val() == "true" && $('select#purposeOfLoan').val() != '' && $('input#loanAmount').val() != '' && $('select#loanTerm').val() != ''){
                if ($('select#purposeOfLoan').val() ==  'Others') {
                  if ($('input#purposeOfLoanOthers').val() != '') {
                    $("#addCredits .btn.btn-primary").show();
                  } else{
                    $("#addCredits .btn.btn-primary").hide();
                  }
                } else {
                  $("#addCredits .btn.btn-primary").show();
                }
              } else {
                $("#addCredits .btn.btn-primary").hide();
              }
            } else {
              $('input[name="termsAndCondition"]').val("false");
               $("#addCredits .btn.btn-primary").hide();
            }
          };
          boxChecked();
          $('input[type="checkbox"]').on("click", boxChecked);
          $('input#loanAmount').on("keyup", function () {
            if ($('select#purposeOfLoan').val() != '' && $('input#loanAmount').val() != '' && $('select#loanTerm').val() != '' && $('input[name="termsAndCondition"]').val() == "true"){
              if ($('select#purposeOfLoan').val() ==  'Others') {
                if ($('input#purposeOfLoanOthers').val() != '') {
                  $("#addCredits .btn.btn-primary").show();
                } else {
                  $("#addCredits .btn.btn-primary").hide();
                }
              }
              else {
                $("#addCredits .btn.btn-primary").show();
              }
            } else {
              $("#addCredits .btn.btn-primary").hide();
            }
          });
          $('input#purposeOfLoanOthers').on("keyup", function () {
            if ($('select#purposeOfLoan').val() != '' && $('input#loanAmount').val() != '' && $('select#loanTerm').val() != '' && $('input[name="termsAndCondition"]').val() == "true"){
              if ($('select#purposeOfLoan').val() ==  'Others') {
                if ($('input#purposeOfLoanOthers').val() != '') {
                  $("#addCredits .btn.btn-primary").show();
                } else {
                  $("#addCredits .btn.btn-primary").hide();
                }
              }
              else {
                $("#addCredits .btn.btn-primary").show();
              }
            } else {
              $("#addCredits .btn.btn-primary").hide();
            }
          });
          $('select#purposeOfLoan').change(function () {
            $('.othersOnly').addClass('d-none');
            if ($('select#purposeOfLoan').val() == 'Others') {
              $('.othersOnly').removeClass('d-none');
            } 
            if ($('select#purposeOfLoan').val() != '' && $('input#loanAmount').val() != '' && $('select#loanTerm').val() != '' && $('input[name="termsAndCondition"]').val() == "true"){
              if ($('select#purposeOfLoan').val() ==  'Others') {
                if ($('input#purposeOfLoanOthers').val() != '') {
                  $("#addCredits .btn.btn-primary").show();
                } else {
                  $("#addCredits .btn.btn-primary").hide();
                }
              } else {
                $("#addCredits .btn.btn-primary").show();
              }
            } else {
              $("#addCredits .btn.btn-primary").hide();
            }
          });
          $('select#loanTerm').change(function () {
            if ($('select#loanTerm').val() != '' && $('input#loanAmount').val() != '' && $('select#purposeOfLoan').val() != '' &&  $('input[name="termsAndCondition"]').val() == "true"){
              if ($('select#purposeOfLoan').val() ==  'Others') {
                if ($('input#purposeOfLoanOthers').val() != '') {
                  $("#addCredits .btn.btn-primary").show();
                } else {
                  $("#addCredits .btn.btn-primary").hide();
                }
              } else {
                 $("#addCredits .btn.btn-primary").show();
              }
            } else {
              $("#addCredits .btn.btn-primary").hide();
            }
          }); 
        });

    if title.indexOf("Loan Details") != -1
      script.
        $(function () {
          $('a#addRepayment').on('click',function () {
            let path = ($(this).prop('href')).split('/');
            let loanid = path[path.length-1];
            let borrowerid = path[path.length-2];
            $("#repayment").attr("action", "/repayments/" + borrowerid + '/' + loanid);
            $('#repaymentModal').modal('show'); 
          });
        });

    if title.indexOf("KYC Declaration") != -1
      script.
        $(function () {
          let boxChecked = function () {
            if ($('input[name="termsAndCondition"]:checked').length == 1) {
              $('input[name="termsAndCondition"]').val("true");
            } else {
              $('input[name="termsAndCondition"]').val("false");
            }
            if ($('input[name="privacyPolicy"]:checked').length == 1) {
              $('input[name="privacyPolicy"]').val("true");
            } else {
              $('input[name="privacyPolicy"]').val("false");
            }
            if ($('input[name="soa"]:checked').length == 1) {
              $('input[name="soa"]').val("true");
            } else {
              $('input[name="soa"]').val("false");
            }
             if ($('input[name="letterOfAuthorization"]:checked').length == 1) {
              $('input[name="letterOfAuthorization"]').val("true");
            } else {
              $('input[name="letterOfAuthorization"]').val("false");
            }
          };
          boxChecked();
          $('input[type="checkbox"]').on("click", boxChecked);
          var sig = $('#sig').signature();
          $('#clear').on('click',function () {
            sig.signature('clear');
          });
          $('#redrawButton').on('click',function () {
            $('#signatureDataURL').val(sig.signature('toJSON'));
            var signature = JSON.parse($('#signatureDataURL').val());
            if (signature.lines.length > 0) {
              $('#defaultSignature').attr("src", sig.signature('toDataURL', 'image/jpeg'));
              $('#signatureDataURL').val(sig.signature('toDataURL', 'image/jpeg'));
            }
            else {
              $('#defaultSignature').attr("src", "img/icon_signature.png");
              $('#signatureDataURL').val("");
            }
          });
          $('#redrawSignature').signature({ disabled: true });
        });
