extends ../layout2

block content
  #content-wrapper.d-flex.flex-column
    #content.landing
      include ../partials/page-topbar
      main
        include ../partials/page-header
        include ../partials/page-flash
        .container-fluid
          .card.mb-4
            .card-body
              #wizard2.tab-pane.py-5.py-xl-10.fade.active.show(role='tabpanel' aria-labelledby='wizard2-tab')
                .row.justify-content-center
                  .col-xxl-6.col-xl-8
                    h3.text-primary Declaration
                    form(method='POST')
                      input(type='hidden', name='_csrf', value=_csrf)
                      .custom-control.custom-checkbox
                        if (user.signature)
                          input#termsAndCondition.custom-control-input(type='checkbox' name='termsAndCondition' value='true' checked='')
                        else
                          input#termsAndCondition.custom-control-input(type='checkbox' name='termsAndCondition' value='false')
                        label.custom-control-label(for='termsAndCondition')
                          | I agree with the 
                          a(href="/terms-and-conditions") Terms and Conditions
                          |  of VMO EZ Loan.
                      .custom-control.custom-checkbox
                        if (user.signature)
                          input#privacyPolicy.custom-control-input(type='checkbox' name='privacyPolicy' value='true' checked='')
                        else
                          input#privacyPolicy.custom-control-input(type='checkbox' name='privacyPolicy' value='false')
                        label.custom-control-label(for='privacyPolicy')
                          | I accept the 
                          a(href="/privacy-policy") Privacy Policy
                          |  of VMO EZ Loan.
                      .custom-control.custom-checkbox
                        if (user.signature)
                          input#soa.custom-control-input(type='checkbox' name='soa'  value='true' checked='')
                        else
                          input#soa.custom-control-input(type='checkbox' name='soa' value='false')
                        label.custom-control-label(for='soa')
                          | I agree that in case I do not have email address or haven't received my statement of account and any letters in relation to my application with VMO EZ Loan thru my e-mail address I allow VMO EZ Loan to send it in my office.
                      .custom-control.custom-checkbox
                        if (user.signature)
                          input#letterOfAuthorization.custom-control-input(type='checkbox' name='letterOfAuthorization' value='true' checked='')
                        else
                          input#letterOfAuthorization.custom-control-input(type='checkbox' name='letterOfAuthorization' value='false')
                        label.custom-control-label(for='letterOfAuthorization')
                          | I willfully sign a Letter of Authorization and allow VMO EZ Loan to use it for conducting an employment verification to confirm my employment status and authenticate my submitted documents to my current employer.
                      hr.my-4
                      fieldset
                        legend.text-primary Signature
                        .form-group.mb-md-0
                          .card
                            .text-center
                              img#defaultSignature.card-img.img-link.kbw-signature(style='width: 15rem;' src=(user.signature) ? user.signature : '/img/icon_signature.png' alt='' data-toggle='modal' data-target='#signatureModal')
                          p.d-none
                            span.demoLabel Signature Output:
                            textarea#signatureDataURL.ui-state-active(rows='5' cols='50' readonly='true' name='signatureDataURL' value=(user.signature) ? user.signature : '')
                      hr.my-4
                      .d-flex.justify-content-between
                        a.btn.btn-light(type='button' href='/verifications') Back
                        button.btn.btn-primary(type='submit') Submit
    include ../partials/page-footer