extends ../layout2

block content
  #content-wrapper.d-flex.flex-column
      #content.landing
        nav.navbar.navbar-expand.bg-gradient-primary.topbar.navbar-dark.static-top.shadow
          button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
            i.fa.fa-bars
          ul.navbar-nav.ml-auto
            li.nav-item.dropdown.no-arrow
              a.nav-link.dropdown-toggle(href='/profile')
                span.mr-2.small camille0510
                img.img-profile.rounded-circle(src='img/profile-1.png')
            .topbar-divider.d-none.d-sm-block
            li.nav-item.dropdown.no-arrow
              a.nav-link.dropdown-toggle(href='#' data-toggle='modal' data-target='#logoutModal')
                i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                | Logout
        main
          header.page-header.page-header-compact.page-header-light.border-bottom.bg-white.mb-4
            .container-fluid
              .page-header-content
                .row.align-items-center.justify-content-between.pt-3
                  .col-auto.mb-3
                    h1.page-header-title
                      .page-header-icon
                        i.fas.fa-check-circle
                      | Account Settings - Verifications
          .container-fluid
            .row
              .col-xl-8
                .card.mb-4
                  .card-body.p-5
                    .row.align-items-center.justify-content-between
                      .col
                        h2.text-primary Verification - Ma Camille Maulion
                        p.text-gray-700
                          | Here you can monitor your progress towards verification.
                          br
                          | After all sections below are complete and all documents have been provided,
                          br
                          | the compliance team will begin to review your information and approve your account.
                        p.text-gray-700
                          | Questions? Check out our verification 
                          span.text-primary FAQ
                          | .
                        p.text-primary Your application to Full verfication level is under review.
                        a.btn.btn-primary.p-2(href='#!')
                          | Cancel Verfication Request
              .col-xl-4
                .card.mb-4
                  .card-body
                    .chart-pie.pt-4.pb-2
                      .chartjs-size-monitor
                        .chartjs-size-monitor-expand
                          div
                        .chartjs-size-monitor-shrink
                          div
                      .doughnut-inside-text
                        h3.text-primary Basic
                        p Verification Level
                      canvas#myVerificationChart.chartjs-render-monitor(width='796' height='306' style='display: block; height: 245px; width: 637px;')
            .row
              .col-xl-4.mb-4
                a.card.lift(href='/personal')
                  .card-body.d-flex.justify-content-center.flex-column
                    .d-flex.align-items-center.justify-content-between
                      .mr-3
                        .mb-2
                          i.fas.fa-user.fa-2x
                        h5 Personal Information
                        .text-muted.small
                          | Status: 
                          span.text-primary Completed
              .col-xl-4.mb-4
                a.card.lift(href='/address')
                  .card-body.d-flex.justify-content-center.flex-column
                    .d-flex.align-items-center.justify-content-between
                      .mr-3
                        .mb-2
                          i.fas.fa-map-marker-alt.fa-2x
                        h5 Address
                        .text-muted.small
                          | Status: 
                          span.text-primary Completed
              .col-xl-4.mb-4
                a.card.lift(href='/documents')
                  .card-body.d-flex.justify-content-center.flex-column
                    .d-flex.align-items-center.justify-content-between
                      .mr-3
                        .mb-2
                          i.fas.fa-id-card.fa-2x
                        h5 Identity Documentation
                        .text-muted.small
                          | Status: 
                          span.text-primary Completed
            .row
              .col-xl-4.mb-4
                a.card.lift(href='/financial')
                  .card-body.d-flex.justify-content-center.flex-column
                    .d-flex.align-items-center.justify-content-between
                      .mr-3
                        .mb-2
                          i.fas.fa-wallet.fa-2x
                        h5 Financial Questionnaire
                        .text-muted.small
                          | Status: 
                          span.text-primary Completed
              .col-xl-4.mb-4
                a.card.lift(href='/declaration')
                  .card-body.d-flex.justify-content-center.flex-column
                    .d-flex.align-items-center.justify-content-between
                      .mr-3
                        .mb-2
                          i.fas.fa-clipboard-check.fa-2x
                        h5 KYC Declaration
                        .text-muted.small
                          | Status: 
                          span.text-primary Completed
      footer.sticky-footer.bg-white
        .container.my-auto
          .copyright.text-center.my-auto
            - let now = new Date
            - let theYear=now.getYear()
            - if (theYear < 1900) theYear=theYear+1900
            span Copyright &copy; VMO EZ Loan #{theYear}